@import '@/styles.scss';

.services-page {
    .services-title {
        font-size: 22px;
    }

    .services-text {
        font-size: 16px;
    }

    .row-padding {
        padding-bottom: 25px;
    }

    .col-padding {
        padding-right: 50px;
    }
}