.no-padding {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    overflow-x: hidden;
}

.carousel-container {
    width: 100%;
    height: calc(100vh - 90px);
    outline: 1px solid red;
}

.hero-text-wrapper {
    position: absolute;
    top: 14%;  
    right: 14%;
    margin-left: 14%;
    z-index: 100;
    max-width: fit-content;
    max-height: fit-content;
}

.blur-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    filter: blur(5px);
    z-index: 101;
}

.hero-text-content {
    position: relative;
    z-index: 102; 
    text-align: end;
    padding: 2rem;
}

.hero-text {
    font-size: 4rem;
    font-weight: 700;
    color: #f6f6f6;
    z-index: 110;
}

.hero-subtext {
    font-size: 2rem;
    font-weight: 400;
    color: #f6f6f6;
    z-index: 110;
}

.home-section-container {
    margin-top: 2rem;
}

.section-heading {
    font-size: 2rem;
    font-weight: 700;
    color: #47592D;
    text-align: center;
}