@import "@/styles.scss";

.no-padding {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    overflow-x: hidden;
}

.carousel-container {
    width: 100%;
    height: calc(100vh - 90px);
}

.blur-bg {
    position: absolute;
    width: 100%;
    height: calc(100vh - 90px);
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));
    border-radius: 15px;
    filter: blur(5px);
    z-index: 101;
}

.hero-text-wrapper {
    position: absolute;
    top: 14%;  
    right: 14%;
    margin-left: 14%;
    z-index: 110;
    max-width: fit-content;
    max-height: fit-content;
}

.hero-text-content {
    position: relative;
    z-index: 102; 
    text-align: end;
    padding: 2rem;
}

.hero-text {
    font-size: 4rem;
    font-weight: 700;
    color: #f6f6f6;
    z-index: 112;
}

.hero-subtext {
    font-size: 2rem;
    font-weight: 400;
    color: #f6f6f6;
    z-index: 112;
}

.home-section-container {
    margin-top: 10rem;
}

.section-heading {
    font-weight: 700;
    color: $base-green;
    text-align: center;
    margin: 0 40px;
    h1 {
        font-size: 2.5rem;
    }
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.contact-form-container {
    max-width: 500px;
    margin-left: auto;
    margin-right:auto;
}