.home-page {
    text-align: center;
    position: relative;
  }
  
  .carousel-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    margin-top: -150px; /* Pull the content up, adjusting based on your design */
    position: relative;
    z-index: 10;
    width: 100%; /* Ensures the content doesn't exceed the viewport width */
    max-width: 800px; /* Adjust this value to limit the content width */
    margin: 0 auto; /* Centers the content horizontally */
  }