@import '@/styles.scss';

.toggleSwitch {
    position: relative;
    width: 2em;
    height: 1.2em;
    border-radius: 15px;
    border-style: none;    
    background-color: $base-green-dark;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 1em;

    &::before {
      content: '';
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: $base-green-light;
      position: absolute;
      top: 1.2px;
      left: 1px;
      transition: transform 0.3s ease;
    }

    &.dark{

      &::before {
        transform: translateX(1em);
      }
    }
}

@media (max-width: 652px) {
    .toggleSwitch {
        margin-left: 0;
    }
}