.toggle-switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border-style: none;    
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-green-dark);
    position: relative;
    transition: background-color 0.3s;
  }

  .toggle-switch:focus {
    outline: none;
    box-shadow: none;
  }

  .toggle-switch::before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--base-green-light);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
  }
  
  .toggle-switch.light::before {
    left: calc(100% - 28px);
  }