@import '@/styles.scss';

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 1000;
}
/* Logo styling */
.navbar-brand {
    img {
        height: 2.4rem;
    }
}

.nav-item-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Styling for navigation items */
.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
    color: $base-green-light;
}

/* Responsive styling */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
}