.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--base-green);
    color: var(--background-color);
}

/* Logo styling */
.navbar-brand {
    img {
        height: 50px;
    }
}

/* Styling for navigation items */
.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

/* Responsive styling */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand {
        margin-bottom: 1rem;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
}

.toggle-switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border-style: none;    
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-green-dark);
    position: relative;
    transition: background-color 0.3s;
  }

  .toggle-switch:focus {
    outline: none;
    box-shadow: none;
  }

  .toggle-switch::before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--base-green-light);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
  }
  
  .toggle-switch.light::before {
    left: calc(100% - 28px);
  }