@import '@/styles.scss';

.footer-container {
  background-color: $base-green-dark;
  max-width: 100%;
  margin-top: 80px;
  position: absolute;
  bottom:0;
}

.footer-second {
  margin: 0px;
  color: white;
  text-align: center;
  padding: 10px 0px;
  border-top: 1px solid #4b4c4d;
}