@import '@/styles.scss';

.page-not-found {
  min-height: 400px;
  display: flex;
  align-items: center;

  .page-not-found-text {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
  }

  .button-text {
    text-align: center;
    padding-top: 20px;
  }

  .btn {
    background-color: var(--btn-primary);
    border: none;
  }

  .success-btn:hover {
    background-color: var(--base-green-light);
  }
}
