@import '@/styles.scss';

.page-not-found {
  .page-not-found-text {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
  }

  .button-text {
    text-align: center;
    padding-top: 20px;
  }

  .btn-success:hover {
    color: #fff;
    background-color: var(--base-green-light);
    border-color: #146c43;
  }

  .btn-success {
    color: #fff;
    background-color: var(--base-green-dark);
    border-color: #198754;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--base-green-dark);
    border: 1px solid var(--base-green-dark);
    border-top-color: var(--base-green-dark);
    border-right-color: var(--base-green-dark);
    border-bottom-color: var(--base-green-dark);
    border-left-color: var(--base-green-dark);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
