:root {
  --background-color: #ffffff;
  --text-color: black;
  --base-green: #85A63F;
  line-height: 1.5;
  font-weight: 400;
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;
}