:root {
  --background-color: #ffffff;
  --text-color: black;
  --base-green: #85A63F;
  --base-green-dark: #47592D;
  --base-green-light: #A3BF3F;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}